*, *:before, *:after
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body
{
    background-color: #080710;
}

.container
{
    width: 430px;
    height: 520px;
    position: absolute;
    transform: translate(-50%,-50%);
    left: 50%;
    top: 50%;
}

.login
{
    width: 430px;
    height: 520px;
    position: absolute;
    transform: translate(-50%,-50%);
    left: 50%;
    top: 50%;
}

.container .circle1, .circle2
{
    height: 200px;
    width: 200px;
    position: absolute;
    border-radius: 50%;
}

.circle1
{
    background: linear-gradient(blue, #bf23f6);
    left: -20px;
    top: -80px;
}

.circle2
{
    background: linear-gradient(to right,#fd9307, yellow);
    right: -50px;
    bottom: -80px;
    
}

form
{
    width: 430px;
    height: 600px;
    background-color: rgba(255,255,255,0.07);
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    border-radius: 10px;
    backdrop-filter:blur(10px);
    border: 2px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 40px rgba(8,7,16,0.6);
    padding: 50px 35px;
}

form *
{
    color: white;
    letter-spacing: 0.5px;
    outline: none;
    border: none;
}

form h3
{
    font-size: 40px;
    font-weight: bold;
    line-height: 42px;
    text-align: center;
}
form h2
{
    height: 30px;
}
form h3 span
{
    display: block;
    font-size: 16px;
    font-weight: 300px;
}

form h5
{
    font-size: 15px;
    font-weight: bold;
    line-height: 42px;
    text-align: center;
}

form h5
{
    display: block;
    font-size: 16px;
    font-weight: 300px;
}

label
{
    display: block;
    margin-top: 30px;
    font-size: 16px;
    font-weight: 500px;
}
input
{
    display: block;
    height: 50px;
    width: 100%;
    background-color: rgba(255,255,255,0.07);
    border: none;
    border-radius: 5px;
    padding: 0 10px;
    margin-top: 8px;
    font-size: 15px;
    font-weight: 300px;
}




::placeholder
{
    color: #e5e5e5;
}

button
{
    margin-top: 80px;
    width: 100%;
    background-color: white;
    color: black;
    height: 45px;
    padding: 15px 0;
    font-size: 20px;
    font-weight: bold;
    border-radius: 4px;
}

button:hover
{
    background: linear-gradient(to right,#fd9307, yellow);
    color: white;
}

.form h5:hover
{
    color: black;
}

.home button
{
    background-color: #080710;
    top: 0px;
}
