*, *:before, *:after
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.page-title-for-movie {
    background: #222;
    margin-block-end: 10px;
    padding: 10px;
    display: flex;
    border-radius: 5px;
    margin-top: 100px;
    font-style: normal;
    font-weight: 600;
    color: white;
    float: left;
    margin-right: auto;
    margin-top: -2px;
    margin-left: 40px;
    display: inline-block;
}

.share-content {

    display: flex;
    font-family: "Open Sans",sans-serif, verdana;
    font-style: normal;
    font-weight: 600;
    text-align: center;
    background: #222;
    padding: 10px;
    margin-bottom: 10px;
    position:absolute;
    display: inline-block;
    padding-right: 20px;
    border-radius: 5px;
    color: white;
    position: relative;
    float: right;
    margin-top: -2px;
    margin-right: 40px;
}

.home-categories-for-movies {
    text-align: left;
    margin: 20px;
    margin-inline-end: -40px;
}

.imgi img {
    top:50%;
    left:50%;
    margin-top:53px; 
    margin-left: 520px; 
    cursor:pointer;
    max-width:45%;
    max-height:45%;
    
}

.fit {
    position: relative;
    margin: auto;
}


.text-hover .hove:hover {
    color: #222;
    cursor: pointer;
    text-transform: uppercase;
}


.home-categories-for-movies {
    color: #fff;
    margin-top: 50%;
    display: inline-block;
    line-height: 25px;
    border-radius: 3px;
    background: var(--gm-fillbutton-container-color,#1a73e8);
    letter-spacing: .0307142857em;
    font-family: "Trebuchet MS",Helvetica,sans-serif!important;
    font-weight: 500;
    margin: 5px;
    margin-left: 40px;
    padding: 2px 6px;
}

.home-categories-for-movie {
    text-align: left;
    margin: 20px;
    margin-left: 40px;
    margin-inline-end: -40px;
}


.home-categories-for-movie a {
    color: rgb(0, 0, 0);
    display: inline-block;
    line-height: 25px;
    border-radius: 3px;
    background: var(--gm-fillbutton-container-color,#9e9e9e);
    letter-spacing: .0307142857em;
    font-family: "Trebuchet MS",Helvetica,sans-serif!important;
    font-weight: 500;
    margin: 5px;
    padding: 2px 6px;
}


@media(max-width:998px) {
    html {
        font-size: 55%;
    }

}

@media(max-width:768px) {
    html {
        font-size: 45%;
    }
}